footer {
    padding-top: 30px;
    background-color: #000000;
    h4 {
        color: $color-grey;
    }
}

.footer-list {
    padding: 0;
    list-style: none;
    line-height: 25px;
}

.footer-logo {
    background-image: url("../../../src/images/logo-white-small.png") ;
    background-repeat: no-repeat;
    display: block;
    width: 150px;
    height: 45px;
    img {
        width: 100%;
        padding-top: 10px;
    }
}

.social-icon {
    background-color: $color-grey;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 20px;

    i {
        display: block;
        color: $color-white;
        text-align: center;
        line-height: 40px;
        transition: .6s;
        &:hover {
            opacity: 0.5;
            transform: rotate(360deg);
        }
    }
}

.signs {
    overflow: hidden;
    padding: 20px 5px;
    font-size: 11px;

    span {
        margin: 0 10px;
    }
    .copy {
        color: $color-white;
        white-space: nowrap
    }
}