.main-content{
    background-color: $color-grey;
}
.search-box {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    .button-box {
        display: flex;
        align-items: flex-end;
        justify-content: center;

    }
    label{
        white-space: nowrap;
    }
}
.album-section{
    overflow: hidden;
    background-color: $color-darkgrey;
    .album-detail{
        padding: 10px 0;
    }
}
.album-name {
    margin: 5px 0;
}
.album-img{
    img{
        display: block;
        margin: 0 auto;
    }
}

span.track-number{
    background-color: $color-green-primary;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    margin: 5px 3px 5px 0;
}

.table-striped>tbody>tr:nth-of-type(even){
    background-color: $color-grey;
}

@media (max-width: 500px){
    .table tr {
        display: flex;
        flex-direction: column;
    }
}
